.portfolio__link {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-right: 5px;
  background-image: url(../../../images/portfolio-link-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}