.elements {
  max-width: 1280px;
  min-height: 30vh;
  padding-top: 75px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  background-color: #202020;
  margin: 0;
}

.elements__grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 20px;
  row-gap: 32px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.elements__grid-full {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.elements__extra {
  height: 125px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  visibility: hidden;
}

.element__extra-visible {
  height: 166px;
  visibility: visible;
}

.elements__extra-button {
  width: 320px;
  height: 36px;
  margin-top: 70px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  background-color: transparent;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.elements__extra-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .elements {
    max-width: 100%;
    margin-top: 0;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .elements__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }
  .elements__extra {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 595px) {
  .elements {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .elements__grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  .elements__extra-button {
    width: 240px;
  }
}
