.form__auth-input {
    min-height: 16px;
    margin: 10px 0 0;
    padding: 15px 15px 15px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #2F2F2F;
    border: 1px solid #2F2F2F;
    border-radius: 8px;
    outline: none;
}