.form__logo {
  margin-top: 70px;
  margin-left: 443px;
  margin-bottom: 37px;
}

.form__subtitle_link-color{
  color: #4285F4;
  text-decoration: none; 
}

.form__logIn-button_registration {
  margin-top: 73px;
}