.form__auth-container {
  margin-top: 0;
  width: calc(100% - 884px);
  align-self: center;
}

.form__logo {
  margin-top: 70px;
  margin-bottom: 37px;
}

.form__subtitle_link-color {
  color: #4285f4;
  text-decoration: none;
}

.form__logIn-button_registration {
  margin-top: 73px;
}

.form__logIn-button_disabled {
  background-color: #f9f9f9;
  color: #000;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .form__auth-container {
    width: calc(100% - 372px);
  }
  .form__logo {
    margin-top: 232px;
    margin-bottom: 38px;
  }
  .form__logIn-button_registration {
    margin-top: 69px;
  }
}

@media screen and (max-width: 576px) {
  .form__auth-container {
    width: calc(100% - 60px);
  }
  .form__logo {
    margin-top: 56px;
    margin-bottom: 48px;
  }
  .form__logIn-button_registration {
    margin-top: 157px;
  }
}
