.form__logo {
  margin-top: 70px;
  margin-left: 443px;
  margin-bottom: 37px;
}

.form__subtitle_link-color {
  color: #4285f4;
  text-decoration: none;
}

.form__logIn-button_registration {
  margin-top: 73px;
}

@media screen and (max-width: 1023px) {
  .form__logo {
    margin-top: 232px;
    margin-left: 186px;
    margin-bottom: 40px;
  }
  .form__logIn-button_registration {
    margin-top: 69px;
  }
}

@media screen and (max-width: 576px) {
  .form__logo {
    margin-top: 56px;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .form__logIn-button_registration {
    margin-top: 157px;
  }
}
