.form__input-error {
  margin-top: 9px;
  display: block;
  height: 12px;
  visibility: hidden;
  max-width: 358px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

@media screen and (max-width: 590px) {
  .form__input-error {
    max-width: 238px;
  }
}