.search {
  width: calc(100% - 140px);
  padding-top: 70px;
  align-self: center;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__form {
  display: flex;
  width: 1140px;
  height: 72px;
  margin-bottom: 27px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.search__input {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  border: none;
  width: calc(100% - 100px);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  text-align: left;
  outline: none;
  border-radius: 5px;
  background-color: #202020;
}

.search__button {
  background-image: url(../../images/button-search.svg);
  width: 100px;
  height: 52px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.search__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .search {
    padding: 86px 30px 61px;
  }
}

@media screen and (max-width: 576px) {
  .search {
    padding: 92px 14px 50px;
  }

  .search__form {
    margin-bottom: 42px;
  }

  .search__label {
    display: none;
  }

  .search__input {
    width: calc(100% - 80px);
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
}
