.aboutProject {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 110px;
  background-color: #202020;
}

.aboutProject__block {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.aboutProject__block-module {
  flex-direction: column;
  width: 50%;
}

.aboutProject__block-module:nth-child(2) {
  padding-left: 40px;
}

.aboutProject__line {
  margin-top: 110px;
  margin-bottom: 90px;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
}

.aboutProject__line-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  margin: 0;
  background-color: #303030;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.aboutProject__line-block_green {
  background-color: #3ddc84;
  color: #000;
}

.aboutProject__line-text {
  margin: 0;
  margin-top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 121%;
  text-align: center;
  color: #8b8b8b;
}

.aboutProject__name {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.aboutProject__text {
  margin: 0;
  margin-top: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}

.aboutProject__line-part {
  height: 100%;
  width: 80%;
}

.aboutProject__line-part_green {
  width: 20%;
}

.aboutProject__title {
  margin: 0;
  padding-bottom: 22px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #dadada;
}

@media screen and (max-width: 770px) {
  .aboutProject {
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .aboutProject__text {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
  .aboutProject__line {
    margin-top: 93px;
  }
  .aboutProject__block-module:nth-child(2) {
    padding-left: 30px;
  }
  .aboutProject__line-part {
    width: 79%;
  }
  .aboutProject__line-part_green {
    width: 21%;
  }
}

@media screen and (max-width: 576px) {
  .aboutProject {
    padding-top: 70px;
    padding-left: 18px;
    padding-right: 18px;
    height: 571px;
  }
  .aboutProject__title {
    padding-bottom: 28px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 22px;
  }
  .aboutProject__block {
    width: 100%;
    flex-direction: column;
    margin-top: 60px;
  }
  .aboutProject__block-module {
    width: 100%;
  }
  .aboutProject__name {
    width: 100%;
    font-size: 18px;
    line-height: 21px;
  }
  .aboutProject__text {
    width: 100%;
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 0;
  }
  .aboutProject__line {
    margin-top: 60px;
  }
  .aboutProject__line-part {
    width: 65%;
  }
  .aboutProject__line-part_green {
    width: 35%;
  }
  .aboutProject__line-block {
    font-size: 11px;
    line-height: 13px;
  }
  .aboutProject__line-text {
    font-size: 11px;
    line-height: 13px;
  }
  .aboutProject__block-module:nth-child(2) {
    margin-top: 56px;
    padding-left: 0px;
  }
}
