.form__title {
  margin: 0;
  margin-left: 442px;
  margin-bottom: 39px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #ffffff;
}