.aboutProject__line-text {
  margin-top: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 121%;
  text-align: center;
  color: #8b8b8b;
}
