.footer {
  padding-top: 79px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  background: #202020;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__block-text {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.footer__text-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.footer__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 79px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__title {
    font-size: 12px;
    line-height: 14px;
  }
  .footer__block {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 25px;
  }

  .footer__text {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__block-text {
    flex-direction: column;
    margin: 0;
    gap: 12px;
  }
}
