.aboutMe__text {
  width: 600px;
  margin-top: 25px;
  margin-bottom: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  mix-blend-mode: normal;
}
