.navTab__button-login {
  width: 76px;
  height: 32px;
  margin-left: 30px;
  margin-top: 21px;
  margin-bottom: 21px;
  background-color: #3ddc84;
  border-radius: 3px;
  border: none;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
}